<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">	
			<div class="row">
	        	<div class="col-md-2">
	        		<h2>{{ $root.FamilyName }}</h2> 
	        	</div>
	        	<div class="col-md-4">
	        		<span class="label partition-purple">Administrator</span>
	        		<span class="label partition-purple">Administrator</span>
	        		<span class="label partition-purple">Administrator</span>
	        		<span>| Last Updated: <b><i>Yesterday</i></b></span>
	        	</div>
        	</div>
        	<br/>
        	<div class="row">
        		<div class="col-md-12">
					<div class="col-md-8">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="tabbable">
									<ul id="myTab1" class="nav nav-tabs">
										<li class="active">
											<a href="#myTab1_example1" data-toggle="tab"  ng-click="vm.OpenTab($event)"> SUMMARY </a>
										</li>
										<li class="">
											<a href="#myTab1_example2" data-toggle="tab"  ng-click="vm.OpenTab($event)"> CLIENTS </a>
										</li>
										<li class="">
											<a href="#myTab1_example3" data-toggle="tab"  ng-click="vm.OpenTab($event)"> LOANS </a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="myTab1_example1">
											<div class="row">
												<div class="col-md-12">
													<div class="col-md-5">
														<div class="panel panel-white">
															<div class="panel-heading">
																<div class="col-md-8 pull-left">
																	<h3>Clients</h3>
																</div>
																<div class="col-dm-4 pull-right">
																	<span>VIEW DETAILS</span>
																</div>
															</div>
															<div class="panel-body">
																<table class="table table-bordered">
																	<tbody>
																		<tr>
																			<td>
																				ADULT
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Title }} 
																					{{ adult_list.FirstName }} 
																					{{ adult_list.MiddleName }} 
																					{{ adult_list.LastName }}
		
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				CHILDREN
																			</td>
																			<td>{{ vm.child_lists.length }}</td>
																		</tr>
																		<tr>
																			<td>
																				PHONE
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Phone[1].Number }} 
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				EMAIL
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Email[0].EmailAddress }} 
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				ADDRESS
																			</td>
																			<td></td>
																		</tr>
																	</tbody>
																	
																</table>
															</div>
														</div>
													</div>
													<div class="col-md-7">
														
														<div class="row">
															<div class="panel panel-white">
																<div class="panel-heading">
																	<div class="col-md-8 pull-left">
																		<h3>Records</h3>
																	</div>
																	<div class="col-dm-4 pull-right">
																		<span>VIEW DETAILS</span>
																	</div>
																</div>
																<div class="panel-body">

																</div>
															</div>
														</div>
														<div class="row">
															<div class="panel panel-white">
																<div class="panel-heading">
																	<div class="col-md-8 pull-left">
																		<h3>Loans</h3>
																	</div>
																	<div class="col-dm-4 pull-right">
																		<span>VIEW DETAILS</span>
																	</div>
																</div>
																<div class="panel-body">
																	<table class="table table-striped table-bordered">
																		<tbody>
																			<tr ng-repeat="loan_list in vm.loan_lists">
																				<td>
																					$ {{loan_list.LoanAmount}}
																				</td>
																				<td>
																					Borrowed by {{loan_list.ActivityTitle}} from 
																					{{loan_list.ActivityOwner}}
																				</td>
																				<td>
																					Submitted to Lender
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="myTab1_example2">
											
										</div>
										<div class="tab-pane fade" id="myTab1_example3">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">TAGGED TO {{ $root.FamilyName }}</h4>
								</div>
								<div class="panel-body">
									<span class="btn btn-light-purple" ng-repeat="tag_list in vm.tag_lists">
										{{ tag_list.ActivityDetails}}
									</span>
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Tag</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">NOTES <span class="badge">{{ vm.note_lists.length }}</span></h4>
								</div>
								<div class="panel-body">
										<div class=""
										ng-repeat="note_list in vm.note_lists">
											<p><b>{{ note_list.ActivityTitle }}</b></p>
											<p>{{ note_list.ActivityDetails }}</p>
										</div>
						
								</div>
								<div class="panel-footer">
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Note</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">TASKS <span class="badge">0</span></h4>
								</div>
								<div class="panel-body">
						
								</div>
								<div class="panel-footer">
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Note</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>