<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">	
			<div class="row">
				<div class="col-md-12">
		        	<div class="col-md-2">
		        		<h2>{{ $root.FamilyName }}</h2> 
		        	</div>
		        	<div class="col-md-4">
		        		<span class="label partition-purple">Administrator</span>
		        		<span class="label partition-purple">Administrator</span>
		        		<span class="label partition-purple">Administrator</span>
		        		<span>| Last Updated: <b><i>Yesterday</i></b></span>
		        	</div>
		        </div>
        	</div>
        	<br/>
        	<div class="row">
        		<div class="col-md-12">
					<div class="col-md-8">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="tabbable">
									<ul id="myTab1" class="nav nav-tabs">
										<li class="active">
											<a href="#summary" data-toggle="tab"  ng-click="vm.OpenTab($event)"> SUMMARY </a>
										</li>
										<li class="">
											<a href="#client" data-toggle="tab"  ng-click="vm.OpenTab($event)"> CLIENTS </a>
										</li>
										<li class="">
											<a href="#myTab1_example3" data-toggle="tab"  ng-click="vm.OpenTab($event)"> LOANS </a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="summary">
											<div class="row">
												<div class="col-md-12">
													<div class="col-md-5">
														<div class="panel panel-white">
															<div class="panel-heading">
																<div class="col-md-8 pull-left">
																	<h3>Clients</h3>
																</div>
																<div class="col-dm-4 pull-right">
																	<span>VIEW DETAILS</span>
																</div>
															</div>
															<div class="panel-body">
																<table class="table table-bordered">
																	<tbody>
																		<tr>
																			<td>
																				ADULT
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Title }} 
																					{{ adult_list.FirstName }} 
																					{{ adult_list.MiddleName }} 
																					{{ adult_list.LastName }}
		
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				CHILDREN
																			</td>
																			<td>{{ vm.child_lists.length }}</td>
																		</tr>
																		<tr>
																			<td>
																				PHONE
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Phone[1].Number }} 
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				EMAIL
																			</td>
																			<td>
																				<h5 ng-repeat="adult_list in vm.adult_lists">
																					{{ adult_list.Email[0].EmailAddress }} 
																				</h5>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				ADDRESS
																			</td>
																			<td></td>
																		</tr>
																	</tbody>
																	
																</table>
															</div>
														</div>
													</div>
													<div class="col-md-7">
														
														<div class="row">
															<div class="panel panel-white">
																<div class="panel-heading">
																	<div class="col-md-8 pull-left">
																		<h3>Records</h3>
																	</div>
																	<div class="col-dm-4 pull-right">
																		<span>VIEW DETAILS</span>
																	</div>
																</div>
																<div class="panel-body">

																</div>
															</div>
														</div>
														<div class="row">
															<div class="panel panel-white">
																<div class="panel-heading">
																	<div class="col-md-8 pull-left">
																		<h3>Loans</h3>
																	</div>
																	<div class="col-dm-4 pull-right">
																		<span>VIEW DETAILS</span>
																	</div>
																</div>
																<div class="panel-body">
																	<table class="table table-striped table-bordered">
																		<tbody>
																			<tr ng-repeat="loan_list in vm.loan_lists">
																				<td>
																					$ {{loan_list.LoanAmount}}
																				</td>
																				<td>
																					Borrowed by {{loan_list.ActivityTitle}} from 
																					{{loan_list.ActivityOwner}}
																				</td>
																				<td>
																					Submitted to Lender
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="client">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-5">
															<h4>Clients <span class="badge">{{ vm.client_lists.length }}</span></h4>
														</div>
														<div class="col-md-7">
															<div class="pull-right">
																<button type="button" class="btn btn-primary btn-md"
																data-toggle="modal" data-target="#modal-add-contact">
																	<i class="ti-plus"></i>&nbsp;&nbsp;Add Contact
																</button>
																<button type="button" class="btn btn-primary btn-md">
																	Add Existing
																</button>
															</div>
														</div>
													</div>
													<br/>
													<div class="row">
														<div class="col-md-12">
															<table class="table table-bordered">
																<th>Name</th>
																<th>Preferred Name</th>
																<th>DOB</th>
																<th>Gender</th>
																<th>Smoker</th>
																<th>Phone</th>
																<th>Role</th>
																<tbody>
																	<tr ng-repeat="client_list in vm.client_lists">
																		<td> {{ client_list.FirstName }} {{ client_list.MiddleName }} {{ client_list.LastName }} </td>
																		<td>{{ client_list.PreferredName }}</td>
																		<td>{{ client_list.DOB }}</td>
																		<td>{{ client_list.Gender }}</td>
																		<td>{{ client_list.SmokerStatus }}</td>
																		<td>
																			<p>{{ client_list.Phone[0].Number }}</p>
																			<p>{{ client_list.Phone[2].Number }}</p>
																		</td>
																		<td>
																			{{ client_list.Role }}
																			<i class="fa fa-pencil-square-o"></i>
																			<i class="fa fa-pencil-square-o"></i>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<br/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-5">
															<h4>Relationships 
															<span class="badge">
															{{ vm.relationship_lists.length }}</span>
															</h4>
														</div>
														<div class="col-md-7">
															<div class="pull-right">
																<button type="button" class="btn btn-primary btn-md"
																data-toggle="modal" data-target="#modal-add-relationship">
																	<i class="ti-plus"></i>&nbsp;&nbsp;Add Relationship
																</button>
															</div>
														</div>
													</div>
													<br/>
													<div class="panel panel-white">
														<div class="panel-body">
															<div class="row">
																<div class="col-md-12">
																	<table class="table table-bordered">
																		<th>Entity Name</th>
																		<th>Entrust Type</th>
																		<th>Phone</th>
																		<th>Mobile</th>
																		<th>Email</th>
																		<th>Address</th>
																		<th>Action</th>
																		<tbody>
																			<tr ng-repeat="relationship_list in vm.relationship_lists">
																				<td> {{ relationship_list.Name }} </td>
																				<td> {{ relationship_list.OrganisationType }}</td>
																				<td> {{ relationship_list.Work }}</td>
																				<td> {{ relationship_list.Mobile }}</td>
																				<td> 
																					{{ relationship_list.Email[0].EmailAddress }}
																				</td>
																				<td>
																					{{ relationship_list.formatted_address}}
																				</td>
																				<td>
																					{{ client_list.Role }}
																					<i class="fa fa-pencil-square-o"></i>
																					<i class="fa fa-pencil-square-o"></i>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<br/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-12">
															<h4>Contact Information</h4>
														</div>													
													</div>
													<br/>
													<div class="panel panel-white">
														<div class="panel-body">
															<div class="col-md-12">	
																<div class="col-md-7">
																	<div  ng-repeat="address_list in vm.address_lists">
																		<h5>{{address_list.Type }}</h5>
																		<div>
																			<table class="table">
																				<tbody>
																					<td>
																						ADDRESS
																					</td>
																					<td>
																						<textarea class="form-control autosize">
																							{{ address_list.formatted_address }}
																						</textarea>

																						<div class="checkbox clip-check check-primary" ng-if="address_list.Type == 'Home'">
																						<input type="checkbox" id="checkbox1" ng-model="vm.isChecked">
																						<label for="checkbox1"> Remember me </label>
																					</div>
																					</td>
																				</tbody>
																			</table>
																		</div>
																	</div>
																	<div class="checkbox clip-check check-primary text-center">
																		<input type="checkbox" id="checkbox1" value="1">
																		<label for="checkbox1"> Remember me </label>
																	</div>
																	<div class="checkbox clip-check check-primary text-center">
																		<input type="checkbox" id="checkbox1" value="1">
																		<label for="checkbox1"> Remember me </label>
																	</div>
																</div>
																<div class="col-md-5">
																	<div class="panel panel-white">
																		<div class="panel-body">
																			<div class="col-md-12">
																				<div class="row">
																					<div class="col-md-5">
																						<h5>ADVISER</h5>
																					</div>
																					<div class="col-md-7">
																						<input type="text" class="form-control"
																						value=" {{ vm.home_address.BrokerFullName }}">
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>EMAIL</h5>
																					</div>
																					<div class="col-md-7">
																						<input type="text"
																						class="form-control"
																						value=" {{ vm.home_address.MainEmail }}
																						">
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>CLIENT TYPE</h5>
																					</div>
																					<div class="col-md-7">
																						<div class="list-group-item">
																							<span class="label partition-purple" ng-repeat="client_type in vm.home_address.ClientTypes">
																								{{client_type }}
																							</span>
																						</div>
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>RATING</h5>
																					</div>
																					<div class="col-md-7">
																						<div class="list-group-item">
																							<span class="label partition-purple" ng-repeat="rating in vm.home_address.Rating">
																								{{ rating }}
																							</span>
																						</div>
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>REVIEW MONTH</h5>
																					</div>
																					<div class="col-md-7">
																						<div class="list-group-item">
																							<span class="label partition-purple">
																								{{ vm.home_address.ReviewMonth }}
																							</span>
																						</div>
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>REFERENCE CODE</h5>
																					</div>
																					<div class="col-md-7">
																						<input type="text"  class="form-control"value=" {{ vm.home_address.ReferenceCode }}">
																						
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>REFERENCE SOURCE</h5>
																					</div>
																					<div class="col-md-7">
																						<input type="email" class="form-control" value=" {{ vm.home_address.ReferralCategory }}">
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-5">
																						<h5>CATEGORIES</h5>
																					</div>
																					<div class="col-md-7">
																						<div class="list-group-item">
																							<span class="label partition-purple" ng-repeat="category in vm.home_address.Categories">
																								{{ category }}
																							</span>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div> 
															</div>
														</div>
													</div>
												</div>
											</div>

											
										</div>
										<div class="tab-pane fade" id="myTab1_example3">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">TAGGED TO {{ $root.FamilyName }}</h4>
								</div>
								<div class="panel-body">
									<span class="btn btn-light-purple" ng-repeat="tag_list in vm.tag_lists">
										{{ tag_list.ActivityDetails}}
									</span>
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Tag</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">NOTES <span class="badge">{{ vm.note_lists.length }}</span></h4>
								</div>
								<div class="panel-body">
										<div class=""
										ng-repeat="note_list in vm.note_lists">
											<p><b>{{ note_list.ActivityTitle }}</b></p>
											<p>{{ note_list.ActivityDetails }}</p>
										</div>
						
								</div>
								<div class="panel-footer">
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Note</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel panel-white">
								<div class="panel-heading border-bottom">
									<h4 class="panel-title">TASKS <span class="badge">0</span></h4>
								</div>
								<div class="panel-body">
						
								</div>
								<div class="panel-footer">
									<a class="btn btn-wide btn-info btn-squared" href="#"><i class="ti-plus"></i> Create Note</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>