<!-- <div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<button ng-click="vm.ShowAddModalContact()" type="button" class="btn btn-primary btn-lg pull-right"
			data-toggle="modal" data-target="#modal-add-contact">
				<i class="ti-plus"></i>&nbsp;&nbsp;Add Contact
			</button>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<table class="table table-striped table-bordered table-hover table-full-width" id="contact">
						<thead>
							<tr>
								<th>Family Name</th>
								<th class="hidden-xs">City</th>
								<th>Contact #</th>
								<th class="hidden-xs">Adviser</th>
								<th>Client Type</th>
								<th><input type="text"></input></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-click="vm.ShowModalClientInfo()" data-toggle="modal" data-target="#modal-client-info"
							ng-repeat="family_list in vm.family_lists">
								<td>{{family_list.FamilyFullName}}</td>
								<td>{{family_list.City}}</td>
								<td>{{family_list.Contact}}</td>
								<td>{{family_list.Adviser}}</td>
								<td>{{family_list.ClientType}}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="container-fluid container-fullw">
    <div class="row">

        <div class="col-md-12">	
			<div class="row">
	        	<div class="col-md-6">
	        		<h2 class="page-title">My Contacts</h2> 
	        		<span>{{ vm.contact_count }} Total Contacts | Last Updated: <b><i>Yesterday</i></b></span>
	        	</div>
				<div class="col-md-6">
					<div class="pull-right">
						<button ng-click="vm.ShowAddModalContact()" type="button" class="btn btn-primary btn-lg btn-bluegreen"
						data-toggle="modal" data-target="#modal-add-contact">
							<i class="ti-plus"></i>&nbsp;&nbsp;Add Contact
						</button>
						<button type="button" class="btn btn-primary btn-lg btn-bluegreen disabled"
							data-placement="bottom" data-toggle="tooltip" title="Select 2 or more contacts to merge">
							Merge Contact
						</button>
					</div>
				</div>
        	</div>
        	<br/>
            <div class="panel panel-white">
                <div class="panel-body letter-scroll-table">
                	<ul>
                		<li ng-repeat="letter in vm.letters" ng-class="{active: $index == 0}">
                			<span ng-bind="letter"></span>
                		</li>
                	</ul>
                	<div class="contacts-main">
                        <table class="table table-striped">
                        	<thead>
								<tr>
									<th width="1px">
										<div class="checkbox clip-check check-primary">
											<input type="checkbox" id="checkbox6" value="1">
											<label for="checkbox6"></label>
										</div>
									</th>
									<th>Family Name</th>
									<th class="hidden-xs">City <i class="ti-filter"></i></th>
									<th>Contact #</th>
									<th class="hidden-xs">Adviser <i class="ti-filter"></i></th>
									<th>Client Type <i class="ti-filter"></i></th>
									<th><input type="text" class="form-control" placeholder="Search contacts"></input></th>
								</tr>
							</thead>
							<tbody>
								<tr ui-sref="contacts.summary({id: family_list.FamilyID})"
								ng-repeat="family_list in vm.family_lists" ng-click="vm.ShowInfo(family_list)">
									<td>
										<div class="checkbox clip-check check-primary" ng-click="vm.SelectContact($event)">
											<input type="checkbox" id="checkbox-family{{$index}}" value="1">
											<label for="checkbox-family{{$index}}"></label>
										</div>
									</td>
									<td>{{family_list.FamilyFullName}}</td>
									<td>{{family_list.City}}</td>
									<td>{{family_list.Contact}}</td>
									<td>{{family_list.Adviser}}</td>
									<td>{{family_list.ClientType}}</td>
									<td>
										<a href="" class="fa fa-pencil-square-o" ng-click="vm.EditContact($event)"></a>
										<a href="" class="fa fa-trash-o" ng-click="vm.DeleteContact($event)"></a>
									</td>
								</tr>
							</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>