<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">Header <span class="text-bold">Border</span></h4>
				<div class="panel-tools" >
					<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 control-label"> Title </label>
						<div class="col-sm-8">
							<input type="text" placeholder="Title" class="form-control" ng-model="contact.title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> First Name </label>
						<div class="col-sm-8">
							<input type="text" placeholder="First Name" class="form-control" ng-model="contact.first_name">
						</div>
					</div><div class="form-group">
						<label class="col-sm-4 control-label">Middle Name </label>
						<div class="col-sm-8">
							<input type="text" placeholder="Middle Name" class="form-control" ng-model="contact.middle_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> Last Name </label>
						<div class="col-sm-8">
							<input type="text" placeholder="Last Name" class="form-control" ng-model="contact.last_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> Preferred Name </label>
						<div class="col-sm-8">
							<input type="text" placeholder="Preferred Name" class="form-control" ng-model="contact.preferred_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> Role </label>
						<div class="col-sm-8">
							<select name="country" class="form-control" ng-model="contact.role">
								<option>Select Role</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> Birthday </label>
						<div class="col-sm-8">
							<input type="text" placeholder="mm/dd/yyyy" class="form-control" ng-model="contact.birthday">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> Gender </label>
						<div class="col-sm-8">
							<div class="btn-group" data-toggle="radio">
								<label class="btn btn-primary" ng-class="{'active': contact.gender == 'Male'}">
									<input type="radio" name="options" value="Male" ng-model="contact.gender">
									Male 
								</label>
								<label class="btn btn-primary" ng-class="{'active': contact.gender == 'Female'}">
									<input type="radio" name="options" value="Female" ng-model="contact.gender">
									Female 
								</label>
								{{contact.gender}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4"></label>
						<div class="col-sm-8">
							<div class="checkbox clip-check check-success checkbox-inline">
								<input type="checkbox" id="checkbox11" ng-model="contact.birthday_reminder" checked="">
								<label for="checkbox11"> No Birthday Reminder </label>
							</div>
						</div>
						<label class="col-sm-4"></label>
						<div class="col-sm-8">
							<div class="checkbox clip-check check-success checkbox-inline">
								<input type="checkbox" id="checkbox12"ng-model="contact.deceased"  checked="">
								<label for="checkbox12"> Deceased </label>
							</div>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">Header <span class="text-bold">Border</span></h4>
				<div class="panel-tools" >
					<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</p>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<p>
					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-white">
			<div class="panel-heading border-light">
				<h4 class="panel-title">Header <span class="text-bold">Border</span></h4>
				<div class="panel-tools" >
					<a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="fa fa-circle-o"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<p>
					Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</p>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<p>
					Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
			</div>
		</div>
	</div>
</div>