#contacts th,
#contacts td {
    border-bottom-width: 2px !important;
}

#contacts tr:nth-child(odd) > td:first-child  {
    border-left: 2px solid #e2e2e4;
}

#contacts tr:nth-child(odd) > td:last-child {
    border-right: 2px solid #e2e2e4;
}

#contacts tr:nth-child(even) > td:first-child {
    border-left: 2px solid transparent;
}

#contacts tr:nth-child(even) > td:last-child {
    border-right: 2px solid transparent;
}

#contacts tr > td {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}

#contacts tbody > tr:hover {
    background-color: #ffffe7 !important;
}

#contacts .page-title {
    display: inline-block;
    margin-right: 30px;
}

#contacts .btn-bluegreen {
    width: 128px;
    height: 35px;
    height: 38px;
    width: 128px;
    font-size: 13px;
    background-color: #2dbfc2;
    border-color: #2dbfc2;
}

#contacts .btn-bluegreen:hover {
    background-color: #38cbce !important;
    border-color: #38cbce;
}

#contacts .btn.disabled {
    background-color: #cbc8cf;
    border-color: #cbc8cf;
}

#contacts .tooltip > .tooltip-arrow {
    border-bottom-color: #150f33;
}

#contacts .tooltip > .tooltip-inner {
    background-color: #150f33;
}

#contacts [type="text"].form-control {
    border-radius: 2px;
}

#contacts .table th > input {
    font-weight: normal;
    padding-left: 12px !important;
}

#contacts .letter-scroll-table {
    display: table-row;
}

#contacts .letter-scroll-table > * {
    display: table-cell;
    vertical-align: top;
}

#contacts .letter-scroll-table > *:nth-child(2) {
    width: 100%;
}

#contacts .letter-scroll-table ul {
    padding: 70px 15px 20px;
    text-align: center;
}

#contacts .letter-scroll-table li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
}

#contacts .letter-scroll-table li > span {
    z-index: 1;
    position: relative;
}

#contacts .letter-scroll-table li:hover > span,
#contacts .letter-scroll-table li.active > span {
    color: white;
}

#contacts .letter-scroll-table li:hover:before,
#contacts .letter-scroll-table li.active:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background: #38cbce;
    left: 13px;
}

#contacts .letter-scroll-table li:hover:before {
    background: #c8c7cc;
}

#contacts .clip-check label:before {
    height: 14px;
    width: 14px;
    border-radius: 2px;
    top: 4px;
}

#contacts .clip-check label:after {
    left: 2px;
}

#contacts .clip-check input[type="checkbox"]:checked + label:before {
    border-width: 7px;
}

#contacts .contacts-main {
    padding-right: 20px;
}

#contacts .contacts-main td:last-child {
    text-align: center;
}

.contacts-main td:last-child > a:hover {
    color: white;
}

#contacts .contacts-main td:last-child > a:hover:before {
    z-index: 1;
    position: relative;
}

#contacts .contacts-main td:last-child > a:hover:after {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
    background: #38cbce;
    margin-left: -1.6%;
    margin-top: -5px;
}

#contacts .contacts-main td:last-child > a.fa-trash-o:hover:after {
    background: #f39291;
}

#contacts .contacts-main td:last-child > a:first-child {
    margin-right: 10px;
}

#contacts .contacts-main td:last-child > a:last-child {
    margin-left: 10px;
}

#contacts .contacts-main tbody,
#contacts .contacts-main thead,
#contacts .contacts-main tr {
    display: block;
}

#contacts .contacts-main tr {
    width: 100%;
}

#contacts .contacts-main tbody {
    height: 580px;
    overflow: auto;
    position: relative;
    padding-right: 20px;
}

#contacts .contacts-main th,
#contacts .contacts-main td {
    width: 12.5%;
}

#contacts .contacts-main th:nth-child(2),
#contacts .contacts-main td:nth-child(2) {
    width: 20%;
}

#contacts .contacts-main th:last-child,
#contacts .contacts-main td:last-child {
    width: 20%;
}

#contacts .contacts-main th:first-child,
#contacts .contacts-main td:first-child {
    width: 5%;
}

#contacts .contacts-main .ps-scrollbar-y-rail {
    background-color: #f4f2f8 !important;
}

#contacts .contacts-main .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#contacts .contacts-main .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #d1c4d7 !important;
}

