.breadcrumb {
	background-color: transparent !important;
	overflow: hidden !important;
	margin-top: 25px; 
	padding: 0px 15px !important;
	font-size: 14px;
}

.breadcrumb > li {
    display: block !important;
    float: left !important;
}

.breadcrumb > li+li:before {
	display: none !important;
}

.breadcrumb li a i {
	padding-right: 5px;
}

.breadcrumb li a,
.breadcrumb li span {
    color: #2dbfc1;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 0 5px 40px;
    background: hsl(0, 0%, 100%);
    position: relative;
    display: block;
    float: left;
    margin-left: 10px;
}

.breadcrumb li.active a,
.breadcrumb li.active span {
    color: #000;
    font-weight: normal;
}

.breadcrumb li a:before, 
.breadcrumb li span:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 33px solid #ece8f0;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
    padding-left: 10px;
}

.breadcrumb li a:after, .breadcrumb li span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}